/* --- Wrapper --- */
.view-stages {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.view-stages__header {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 0 1rem 0;
    color: var(--text-main);
}

.view-stages__tab-content {
    background-color: var(--card);
    border: 1px solid var(--border-color);
    border-radius: 0 0 var(--border-radius__large) var(--border-radius__large);
    padding: 1.5rem;
}