.gantt-chart {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
}

.gantt-controls {
    display: flex;
    flex: 0 0 auto;
}

.gantt-body {
    display: flex;
    height: 100%;
    min-height: 0;
    background-color: var(--card);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    overflow: hidden;
}