@import './gantt-task-card.css';

/* #region GANTT TASK LIST */
.gantt-task-list {
    width: 100%;
    min-width: 240px;
    max-width: 320px;
    background-color: var(--card);
    border-right: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

.gantt-task-list__header {
    height: 60px;
    min-height: 60px;
    background-color: var(--input-bg);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    padding: 0 1.5rem;

    /* Matched to Wizard section headers */
    font-weight: 600;
    font-size: 0.75rem;
    color: var(--text-muted);
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.gantt-task-list__container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.gantt-task-list__container__tasks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    will-change: transform;
}

/* #endregion */