.layout-messages {
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;

    --messages-sidebar-width: 350px;
}

.layout-messages__sidebar__container {
    height: calc(100vh - var(--header-height) - 4rem);
    width: var(--messages-sidebar-width);
    position: fixed;
    top: calc(var(--header-height) + 2rem);
    left: calc(var(--side-nav-width) + 2rem);
    display: flex;
}

.layout-messages__content__container {
    position: absolute;
    left: calc(2rem + var(--messages-sidebar-width));
    top: 1rem;
    height: 200vh;
    min-height: calc(100vh - var(--header-height) - 4rem);
}