.layout-projects {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    height: auto;
    position: relative;

    --messages-sidebar-width: 20vw;
    width: 100%;
}

.layout-projects__sidebar__container {
    height: calc(100vh - var(--header-height) - 6rem);
    width: var(--messages-sidebar-width);
    min-width: 225px;
    position: fixed;
    top: calc(var(--header-height) + 2rem);
    left: calc(var(--side-nav-width) + 2rem);
    display: flex;
}

.layout-projects__content__container {
    position: relative;
    margin-left: calc(2rem + var(--messages-sidebar-width));
    left: auto;
    height: auto;
    min-height: calc(100vh - var(--header-height) - 4rem);
    width: calc(100% - var(--messages-sidebar-width) - 2.5rem);
}