.layout-stage {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
}

.stage-header__container {
    background-color: var(--bg);
    padding-top: 1rem;
    position: fixed;
    z-index: 10;
    max-width: calc(100vw - var(--messages-sidebar-width) - var(--side-nav-width) - 4.5rem);
    width: 100%;
    display: flex;
}

.stage-header {
    width: 100%;
    height: 2rem;
    max-height: 4rem;
    background-color: var(--header);
    border-radius: var(--border-radius__large);
    box-shadow: 0 2x 6px #0006;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.stage-header__left,
.stage-header__center,
.stage-header__right {
    width: calc(100%/3);
}

.stage-header__left {
    display: flex;
    align-items: center;
    gap: 1em;

    .sidebar-details__avatar {
        height: 3rem;
        width: 3rem;
        border-radius: 3rem;
        padding: 0;
        margin: 0;
    }

    .stage-header__title,
    .stage-header__meta {
        padding: 0;
        margin: 0;
    }

    .stage-header__title {
        font-size: 1.2em;
        font-weight: 600;
    }

    .stage-header__meta {
        font-size: 0.7em;
    }
}

.stage-header__center {
    display: flex;
    justify-content: center;
    gap: 1.5em;

    .stage-header__tab {
        color: var(--text-muted);

        &:hover {
            color: var(--text-main);
        }

        &[data-current="true"] {
            color: var(--primary);
            font-weight: 500;
        }
    }
}

.stage-header__right {
    display: flex;
    justify-content: right;
}