.onboarding-stage-1 {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    width: 100%;

    .onboarding-stage-1__account-type__container {
        display: flex;
        gap: 0.75em;
        width: 100%;

        .onboarding-stage-1__account-type {
            width: 100%;
            background-color: #fff5;
            color: var(--primary);
            border-radius: var(--border-radius);
            padding: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: background-color var(--fast);

            &:hover {
                background-color: #fff4;
            }

            &:has(input:checked) {
                background-color: #000;
                color: white;
                font-weight: bold;
            }
        }
    }

    .onboarding-stage-1__separator {
        width: 100%;
        border: 1px solid #fff3;
    }

    .onboarding-stage-1__name {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 0.75em;
    }
}