@import "themes/variables/colour.css";
@import "themes/variables/font.css";
/* @import "themes/dark.css"; */

:root {
  --scale: 1;

  --header-height: 4rem;
  --side-nav-width: 0rem;

  --border-radius__xsmall: 4px;
  --border-radius__small: 0.375rem;
  --border-radius: 8px;
  --border-radius__large: 12px;
  --border-radius__xlarge: 16px;

  --fast: 100ms;
  --medium: 200ms;
  --slow: 300ms;

  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font-sans);


  --input-height: 2.5rem;
  --input-padding-x: 0.75rem;



  &:has([data-sidebar-open='false']) {
    --side-nav-width: 4rem;

  }

  &:has([data-sidebar-open='true']) {
    --side-nav-width: 14rem;
  }
}

body {
  width: 100%;
  margin: 0;
  padding: 0;

  main {
    position: relative;
    margin: 0;
    padding: 0;
  }
}

.container {
  position: relative;
  height: calc(100vh - (var(--header-height) + 1rem));
  width: calc(100vw - (var(--side-nav-width) + 2.1rem));
  top: calc(var(--header-height) + 1rem);
  left: calc(var(--side-nav-width) + 1rem);
  transition: width var(--fast), left var(--fast);
}

a {
  text-decoration: none;
  color: inherit;
  transition: all var(--fast);
}

input,
button {
  font-family: inherit;
  border: none;
  background: none;
  color: inherit;
  outline: none;
  border: none;
}

button {
  cursor: pointer;
  transition: all var(--fast);
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]::before {
  content: attr(data-tooltip);
  position: absolute;
  left: 50%;
  top: calc(100% + 0.5rem);
  transform: translateX(-50%);
  color: var(--text-medium);
  background-color: var(--card);
  border: 1px solid var(--card-light);
  border-radius: var(--border-radius);
  padding: 0.25rem 1rem;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transition: opacity var(--fast) ease;
  z-index: 100;
  font-size: 0.75rem;
}

[data-tooltip]:hover::before {
  opacity: 1;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}