@import 'themes/light.css';
@import 'themes/dark.css';

:root {
    --font-sans: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
    --font-dyslexia: "OpenDyslexic", Atkinson, var(--font-sans);

    --scale: 1;

    --primary-hue: 159;
    --primary-saturation: 64%;
    --primary-lightness: 43%;

    --primary: hsl(var(--primary-hue), var(--primary-saturation), var(--primary-lightness));
    --primary-hover: hsl(var(--primary-hue), var(--primary-saturation), 50%);
    --primary-active: hsl(var(--primary-hue), var(--primary-saturation), 60%);

    --header-height: 4rem;
    --side-nav-width: 4rem;

    --border-radius__xsmall: 4px;
    --border-radius__small: 6px;
    --border-radius: 8px;
    --border-radius__large: 12px;
    --border-radius__xlarge: 16px;

    --fast: 100ms;
    --medium: 200ms;
    --slow: 300ms;

    background-color: var(--bg);
    color: var(--text);
    font-family: var(--font-sans);
}

body {
    margin: 0;
    padding: 0;

    main {
        margin-top: var(--header-height);
    }
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: inherit;
    cursor: pointer;
    border: none;
    background: none;
    color: inherit;
}