header {
    width: 100vw;
    max-width: 100vw;
    height: var(--header-height);
    background-color: var(--header);
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    .header-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10rem;
    }

    .header__buttons {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-weight: bold;


        .header__buttons__user {
            padding: 0.4rem 2rem;
            border-radius: var(--border-radius);
            transition: background var(--medium), color var(--medium), border var(--medium);

            &.header__buttons__login {
                color: var(--primary);
                border: 1px solid var(--primary);

                &:hover {
                    color: var(--primary-hover);
                    border: 1px solid var(--primary-hover);
                }
            }

            &.header__buttons__join {
                background-color: var(--primary);
                color: white;

                &:hover {
                    background: var(--primary-hover);
                }
            }
        }
    }
}