/* packages/fields/src/styles/wrappers/message-wrapper.css */

.field-message {
	font-family: inherit;
	font-size: 0.75rem;
	line-height: 1.2;
	margin-top: 4px;
	transition: all var(--field-transition);
	opacity: 1;
}

.field-message--error {
	color: var(--field-text-error);
}

.field-message--warning {
	color: var(--warning);
}

.field-message--info {
	color: var(--status-info);
}
