/* packages/fields/src/styles/wrappers/skeleton-wrapper.css */

.field-skeleton {
	background-color: var(--field-bg-disabled);
	border-radius: var(--field-radius);
	overflow: hidden;
	position: relative;
}

.field-skeleton--rect {
	height: var(--field-height);
	width: 100%;
}

.field-skeleton--circle {
	width: var(--field-height);
	height: var(--field-height);
	border-radius: 50%;
}

.field-skeleton--pill {
	height: 24px;
	width: 60px;
	border-radius: var(--border-radius__xlarge);
}
