.provider-login-button {
  font-size: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 0.5em 1em;
  width: 100%;

  border: 1px solid hsla(0, 100%, 100%, 0.2);
  color: white;
  border-radius: var(--border-radius__large);
}
