.search-bar {
  display: flex;
  align-items: center;
  gap: 0.5em;
  width: 100%;
  border-radius: var(--border-radius);
  background-color: var(--card);

  .search-bar__input {
    width: 100%;
    background: none;
    font-size: 1.5em;
    padding: 0.75em;
    outline: none;
    border: none;
  }

  .search-bar__enter {
    margin-right: 0.75em;
    height: 3.5em;
    width: 3.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    border-radius: var(--border-radius__small);
    color: white;
  }

  &:has(.search-bar__input:focus) {
    outline: 1px solid var(--primary);
  }
}
