ALTER TABLE org.users_public ENABLE ROW LEVEL SECURITY;

-- Any logged-in user can read public profiles
CREATE POLICY pol_org_users_public_select_all_auth
ON org.users_public
FOR SELECT
USING ( auth.uid() IS NOT NULL );

-- User can create their own public row
CREATE POLICY pol_org_users_public_insert_self
ON org.users_public
FOR INSERT
WITH CHECK (
  user_id = auth.uid()
  OR security.is_admin() = true
);

-- User can update only their own row (or admin can)
CREATE POLICY pol_org_users_public_update_self
ON org.users_public
FOR UPDATE
USING (
  user_id = auth.uid()
  OR security.is_admin() = true
)
WITH CHECK (
  user_id = auth.uid()
  OR security.is_admin() = true
);

/* no DELETE */
