/* #region ONBOARDING CANVAS */
.verify {
	display: flex;
	min-height: 100vh;
	width: 100%;
	background-color: var(--bg);
	position: relative;
	overflow: hidden;
}

.verify__header {
	display: flex;
	justify-content: center;
	width: 100%;
	position: absolute;
	top: 2rem;
	left: 0;
}

.verify__back {
	position: absolute;
	top: 0;
	left: 2rem;
	z-index: 10;
	color: var(--text-muted);
	transition: color var(--fast) ease;
}

.verify__back:hover {
	color: var(--text-main);
}

.verify__left {
	flex: 1;
	display: flex;
	width: 65%;
	position: relative;
}

.verify__right {
	flex: 1;
	display: flex;
	width: 35%;
}
