.dropdown-field__container {
  width: 100%;
  position: relative;
}

.dropdown-field__input {
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: space-between;
  width: 100%;

  border-radius: var(--border-radius);
  box-shadow: inset 0 3px 6px #0004;
  background-color: #fff;
  /* outline: 1px solid #ccc; */
  position: relative;

  .dropdown-field__input__button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0.25rem;

    .dropdown-field__input__button__span,
    .dropdown-field__input__button__input {
      width: 100%;
      height: 100%;
      padding: 0.4rem;
      text-align: left;
    }

    .dropdown-field__input__button__span,
    .dropdown-field__input__button__input::placeholder {
      color: var(--text-dark);
    }
  }

  &:has(.dropdown-field__input__selected) {
    .dropdown-field__input__button {
      padding: 0.25rem 0;

      .dropdown-field__input__button__span,
      .dropdown-field__input__button__input {
        padding: 0.4rem 0;
      }
    }
  }

  .dropdown-field__input__selected {
    height: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.25rem;

    .dropdown-field__input__selected__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      border-radius: var(--border-radius);

      background-color: #fff;
      box-shadow: 0 2px 6px #0004;
      padding: 0.3rem 0.4rem;
      color: var(--text);

      .dropdown-field__input__selected__item__close {
        padding: 0;
        margin: 0;
        height: 1rem;
        width: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}


.dropdown-field__selected__container {
  width: 100%;
  display: flex;

  .dropdown-field__selected {
    position: relative;
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    border: 1px solid var(--card);
    border-radius: var(--border-radius);
    padding: 0.5rem;

    .dropdown-field__selected__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      border-radius: 2rem;

      background-color: var(--primary-half);
      padding: 0.2rem 0.5rem;
      color: white;
      font-size: 0.8rem;

      .dropdown-field__selected__item__close {
        padding: 0;
        margin: 0;
        height: 1rem;
        width: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}