.form-stages {
  display: flex;
  align-items: center;
  gap: 1em;

  .form-stages__item {
    display: flex;
    align-items: center;
    gap: 1em;
    position: relative;

    &[data-selected="true"] {
      font-weight: bold;

      .form-stages__item__container {

        opacity: 1;
      }
    }

    .form-stages__item__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: 0.5;


      .form-stages__item__circle {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4em;
        width: 4em;
        background-color: white;
        color: var(--primary);
        font-weight: bold;
        border-radius: 4em;

        p {
          padding: 0;
          margin: 0;
          font-size: 2em;
        }
      }

      .form-stages__item__name {
        font-size: 1;
        padding-top: 0.5em;
        margin: 0;
      }
    }

    .form-stages__item__divider {
      position: relative;
      width: 5em;
      border: 0.1em dashed white;
      top: -0.75em;
      opacity: 0.3;
    }
  }
}