.text-field,
.password-field,
.text-area-field {
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: space-between;
  width: 100%;

  background-color: hsla(0, 100%, 100%, 0.3);
  border-radius: var(--border-radius);

  * {
    stroke: var(--primary);
  }

  textarea,
  input {
    font-size: inherit;
    padding: 0.8em 1em;
    outline: none;
    border: none;
    background: none;
    width: 100%;

    &::placeholder {
      color: var(--primary);
    }
  }
}

.text-field__container {
  width: 100%;
}