:root[data-theme="dark"] {
  --bg: #222222;
  --header: #191919;
  --text: #ffffff;
  --text-medium: #999;
  --text-dark: #555555;
  --card: #303030;
  --card-dark: #202020;
  --card-light: #555555;
  --button-hover: #fff2;
  --button-hover-light: #fff6;

  --scrollbar-bg: #2c2c2c;
  --scrollbar-thumb: #404040;
  --scrollbar-thumb-hover: #4f4f4f;

  --primary-hover: hsl(var(--primary-hue), var(--primary-saturation), 30%);
  --primary-active: hsl(var(--primary-hue), var(--primary-saturation), 20%);
  --primary-highlight: hsl(var(--primary-hue), var(--primary-saturation), 50%);
  --primary-highlight-active: hsl(var(--primary-hue),
      var(--primary-saturation),
      55%);


  /* -- Palette -- */
  --input-bg: #202020;
  --input-border: #353535;
  --input-hover: #777777;
  --input-placeholder: #9ca3af;

  /* -- States -- */
  --input-focus-border: #3b82f6;
  --input-focus-ring: rgba(59, 130, 246, 0.25);
  --input-error-border: #ef4444;
  --input-error-text: #ef4444;
  --input-disabled-bg: #f3f4f6;
  --input-disabled-text: #9ca3af;

  /* -- Dropdown Specific -- */
  --dropdown-bg: #222222;
  --dropdown-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --option-hover: #353535;
  --option-selected-bg: #303030;
  --option-selected-text: var(--text);
}