:root[data-theme="dark"] {
  --bg: #222222;
  --header: #191919;
  --text: #FFFFFF;
  --text-dark: #555555;
  --card: #303030;

  --primary-hover: hsl(var(--primary-hue), var(--primary-saturation), 30%);
  --primary-active: hsl(var(--primary-hue), var(--primary-saturation), 20%);
}