.login {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h1,
  p {
    margin: 0;
    padding: 0;
  }

  .login__container {
    width: 60%;
    height: 80%;
    min-width: 300px;
    display: flex;
    align-items: center;

    .login__container__center {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }

  .login__header {
    margin-bottom: 2rem;
    text-align: left;
    width: 100%;
    font-weight: 400;

    h1 {
      font-size: 4rem;
      margin-bottom: 0.5rem;
      font-weight: inherit;
    }
  }
}

.login__fields__container {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;

  .login__fields {
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    .login__fields__options {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.875rem;

      .remember-me {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        input[type="checkbox"] {
          width: 1rem;
          height: 1rem;
        }
      }

      a {
        color: white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.login__actions {
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.switch-auth {
  width: 80%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;

  .switch-auth__text {
    margin: 0;
    padding: 0;
    font-size: 1rem;
  }

  .switch-auth__link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    background-color: hsla(0, 100%, 100%, 0.2);
    padding: 0.5em 2em;
    border-radius: 4rem;

    &:hover {
      background-color: hsla(0, 100%, 100%, 0.1);
    }
  }
}
