.onboarding {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85%;


    .onboarding-stages-indicator {
        font-size: 0.8rem;
    }

    .onboarding-stages {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .onboarding-stage {
            position: relative;
            width: 100%;
            top: -4rem;

            display: flex;
            flex-direction: column;
            gap: 0.75em;
            width: 100%;

            .onboarding-stage__account-type__container {
                display: flex;
                gap: 0.75em;
                width: 100%;

                .onboarding-stage__account-type {
                    width: 100%;
                    background-color: #fff5;
                    color: var(--primary);
                    border-radius: var(--border-radius);
                    padding: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    transition: background-color var(--fast);

                    &:hover {
                        background-color: #fff4;
                    }

                    &:has(input:checked) {
                        background-color: #000;
                        color: white;
                        font-weight: bold;
                    }
                }
            }

            .onboarding-stage__separator {
                width: 100%;
                border: 1px solid #fff3;
            }

            .onboarding-stage__name {
                width: 100%;
                display: flex;
                justify-content: space-between;
                gap: 0.75em;
            }
        }
    }

    .onboarding-stage-location {
        width: 60%;
        display: flex;
        gap: 0.5rem;
        justify-content: space-between;

        .onboarding-back,
        .onboarding-submit,
        .onboarding-continue {
            width: 100%;
            background-color: #000;
            border-radius: var(--border-radius);
            padding: 1rem;

            &:hover {
                background-color: #222;

            }
        }
    }
}