.nav-bar-user {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  .nav-bar-user__logo {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;

    .nav-bar-user__logo__svg {
      height: 2rem;
      width: auto;
    }
  }

  .nav-bar-user__search {
    /* background-color: blue; */
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-bar-user__actions {
    /* background-color: green; */
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1rem;
  }
}