  .nav-bar-user__profile__dropdown {
    position: absolute;
    top: var(--header-height);
    right: 0;
    background-color: var(--header);
    width: 400px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: var(--border-radius__large);

    .nav-bar-user__profile__dropdown__current {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .nav-bar-user__profile__dropdown__current__profile {
        display: flex;
        align-items: center;
        gap: 0.75rem;

        img {
          height: 4em;
          width: 4em;
          border-radius: 4em;
          border: 1px solid var(--text-dark);
        }

        p {
          margin: 0;
          padding: 0;
        }

        .nav-bar-user__profile__dropdown__current__profile__name {

          .nav-bar-user__profile__dropdown__current__profile__name__name {
            font-size: 1.5em;
            font-weight: 500;
          }

          .nav-bar-user__profile__dropdown__current__profile__name__username {
            font-size: 0.8em;
            color: var(--text-medium);
          }
        }
      }

      .nav-bar-user__profile__dropdown__current__switch {
        border-radius: var(--border-radius__small);
        height: 2rem;
        width: 2rem;

        display: flex;
        align-items: center;
        justify-content: center;

        svg * {
          stroke: var(--text-medium);
        }

        &:hover {
          background-color: var(--button-hover);
        }
      }
    }
  }